:root {
    --orange: hsl(22, 89%, 52%);
    --light-orange: hsl(22, 100%, 69%);
    --very-dark-blue: hsl(220, 50%, 17%);
    --gray: hsl(221, 23%, 58%);
    --light-gray: hsl(198, 28%, 93%);
    --white: hsl(0, 0%, 100%);

    --medium: 500;
    --bold: 700;
    --black: 900;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 5.5rem 16.5rem 4.3rem;
    max-width: 111rem;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--very-dark-blue);
    font-weight: var(--black);
    text-transform: uppercase;
}

p {
    font-weight: var(--medium);
    color: var(--gray);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8.3rem;
}

.header__button,
.hero__button {
    all: unset;
    width: 17.5rem;
    padding: 1.9rem 0 2rem;
    background-color: var(--light-gray);
    border-radius: .8rem;
    color: var(--very-dark-blue);
    font-weight: var(--bold);
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: color .4s, background .4s;
}

.header__button:hover {
    background-color: var(--very-dark-blue);
    color: var(--white);
}

.hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
    align-items: center;
    margin: auto -28.5rem 16.8rem -28.5rem;
}

.hero__heading {
    grid-column: 2 / span 2;
    max-width: 44.5rem;
    margin-top: -4.8rem;
    animation: slide-left 1.8s ease-in-out;
}

.hero__title {
    font-size: 5.6rem;
    line-height: 1em;
    margin-bottom: 2.4rem;
}

.hero__description {
    font-size: 1.8rem;
    line-height: 1.44444em;
    margin-bottom: 4rem;
}

.hero__pre-order {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero__button {
    background-color: var(--orange);
    color: var(--white);
}

.hero__release {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: var(--bold);
    text-transform: uppercase;
    margin-left: 4rem;
}

.hero__image-1 img,
.hero__image-2 img,
.hero__image-3 img {
    border-radius: 2rem;
    height: 48rem;
    object-fit: cover;
}

.hero__image-1,
.hero__image-2,
.hero__image-3 {
    border-radius: 2rem;
}

.hero__image-1 {
    grid-column: 4 / span 2;
    animation: slide-down 1.8s ease-in-out;
}

.hero__square-1 {
    grid-column: 6;
    align-self: flex-start;
    justify-self: flex-start;
    min-width: 25.5rem;
    animation: slide-up 1.8s ease-in-out;
}

.hero__square-2 {
    align-self: flex-end;
    min-width: 25.5rem;
    animation: slide-down 1.8s ease-in-out;
}

.hero__image-2 {
    background-color: var(--orange);
    animation: slide-down 1.8s ease-in-out;
}

.hero__image-2 img{
    mix-blend-mode: multiply;
    opacity: .75;
}

.hero__image-3 {
    grid-column: 3 / span 2;
    animation: slide-up 1.8s ease-in-out;
}

.hero__keyboard {
    margin-top: .9rem;
    animation: slide-left 1.8s ease-in-out;
}

.hero__kbd-title {
    font-size: 3.2rem;
    line-height: 1.125em;
    margin-bottom: 2.7rem;
}

.hero__kbd-description {
    font-size: 1.6rem;
    line-height: 1.625em;
}

.hero__button:hover {
    background-color: var(--light-orange);
}

.features {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-bottom: 15rem;
}

.features__item {
    max-width: 25.5rem;
    opacity: 1;
}

.features__item:first-child {
    animation: fade-in-1 3.6s ease-in-out;
}

.features__item:nth-child(2) {
    animation: fade-in-2 3.6s ease-in-out;
}

.features__item:nth-child(3) {
    animation: fade-in-3 3.6s ease-in-out;
}

.features__item:nth-child(4) {
    animation: fade-in-4 3.6s ease-in-out;
}

.features__icon {
    background-color: var(--orange);
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 1.6rem;
    display: flex;
    justify-content: center;
    margin-bottom: 4.9rem;
}

.features__icon img {
    object-fit: scale-down;
}

.features__title {
    font-size: 2.4rem;
    line-height: 1.167em;
    min-height: 5.6rem;
    margin-bottom: 2.2rem;
}

.features__description {
    font-size: 1.6rem;
    line-height: 1.625em;
}

.footer {
    position: absolute;
    bottom: 1.1rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    font-size: 1.6rem;
    margin-right: 3.3rem;
}

.footer__copyright span {
    font-weight: var(--bold);
}

.footer__attribution {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    opacity: .5;
}

.footer__attribution a {
    text-decoration: none;
    color: var(--very-dark-blue);
    transition: 0.1s;
}

.footer__attribution a:hover {
    color: var(--orange);
}

@keyframes slide-up {
    from {
        transform: translateY(24rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-24rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(28rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-1 {
    0% {opacity: 0;}
    20% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes fade-in-2 {
    0% {opacity: 0;}
    40% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes fade-in-3 {
    0% {opacity: 0;}
    60% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes fade-in-4 {
    0% {opacity: 0;}
    80% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes fade-in-5 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width: 75em) {
    .hero__image-2 {
        margin-right: -5rem;
    }

    .hero__image-2 img {
        width: 100%;
    }

    .hero__image-3 {
        grid-column: span 3;
        margin-left: 5rem;
    }

    .hero__image-3 img {
        width: 100%;
    }

    .hero__keyboard {
        grid-column: 2 / span 4;
        display: flex;
        align-items: center;
        gap: 5rem;
        margin-top: 3.2rem;
    }

    .hero__kbd-description {
        margin-top: -2.8rem;
    }
}

@media (max-width: 65.1875em) {
    body {
        margin: 4rem 4rem 4.7rem 3.9rem;
        max-width: 68.9rem;
    }

    .hero {
        gap: 4rem 3rem;
        margin: auto 0 11.5rem 0;
    }

    .header {
        margin-bottom: 6.2rem;
    }

    .hero__heading {
        max-width: 100%;
        margin-top: 0;
        grid-column: span 3;
        animation: fade-in-1 3.6s ease-in-out;
    }

    .hero__title {
        font-size: 4.8rem;
        margin-bottom: 3.4rem;
    }

    .hero__description {
        font-size: 1.6rem;
        line-height: 1.625em;
        margin-bottom: 3.9rem;
    }

    .hero__release {
        margin-top: -0.1rem;
        margin-left: 3.7rem;
    }

    .hero__square-1,
    .hero__square-2 {
        display: none;
    }

    .hero__image-1 {
        grid-column: span 3;
        margin-right: -25rem;
        margin-left: .4rem;
        animation: fade-in-2 3.6s ease-in-out;
    }

    .hero__image-2 {
        width: 21.4rem;
        animation: fade-in-3 3.6s ease-in-out;
    }

    .hero__image-3 {
        grid-column: span 5;
        animation: fade-in-3 3.6s ease-in-out;
    }

    .hero__image-1 img {
        height: 42.5rem;
    }

    .hero__image-2 img {
        height: 32rem;
    }

    .hero__image-3 img {
        height: 32rem;
    }

    .hero__keyboard {
        grid-column: span 6;
        gap: 9.8rem;
        animation: fade-in-4 3.6s ease-in-out;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
        gap: 7.2rem 1rem;
        margin-bottom: 16.4rem;
    }

    .features__item {
        max-width: 28.3rem;
        animation: fade-in-5 3.6s ease-in-out !important;
    }

    .features__icon {
        margin-bottom: 4.1rem;
    }

    .footer {
        bottom: 1.6rem;
    }

    .footer__copyright {
        margin-right: .3rem;
    }
}

@media (max-width: 44.125em) {
    .hero__pre-order {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero__release {
        margin-left: 0;
        margin-top: 1rem;
    }
}

@media (max-width: 39.0625em) {
    body {
        margin: 2.3rem 2.4rem 5.4rem;
    }

    .header {
        margin-bottom: 6.4rem;
    }

    .header__button {
        width: 15rem;
        padding: 1.4rem 0 1.5rem;
    }

    .hero {
        gap: 2.4rem;
        margin-bottom: 11.1rem;
    }

    .hero__heading {
        grid-column: span 6;
        max-width: 100%;
        margin-bottom: 4rem;
    }

    .hero__title {
        margin-bottom: 3.2rem;
    }

    .hero__description {
        margin-bottom: 3.2rem;
    }

    .hero__button {
        width: 15rem;
        padding: 1.4rem 0 1.5rem;
    }

    .hero__pre-order {
        flex-direction: row;
        align-items: center;
    }

    .hero__release {
        margin-left: 3.2rem;
        margin-top: -0.1rem;
    }

    .hero__image-1 {
        grid-column: span 6;
        justify-self: flex-start;
        margin-left: 0;
        margin-right: -4.5rem;
    }

    .hero__image-2 {
        width: auto;
        grid-column: span 2;
        transform: translateX(-6rem);
        margin-left: 1.4rem;
    }

    .hero__image-3 {
        grid-column: span 4;
        margin-left: -1rem;
    }

    .hero__image-1 img {
        height: 33.1rem;
        width: 100rem;
    }

    .hero__image-2 img {
        height: 19.3rem;
        width: 100%;
    }

    .hero__image-3 img{
        height: 19.3rem;
        width: 100%;
    }

    .hero__keyboard {
        margin-top: 5.1rem;
        flex-direction: column;
        text-align: center;
        width: 95%;
        justify-self: center;
    }

    .hero__kbd-description {
        margin-top: -10.1rem;
    }

    .features {
        grid-template-columns: auto;
        margin-bottom: 11.8rem;
        gap: 6.4rem;
        justify-content: center;
    }

    .features__item {
        max-width: 32.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .features__icon {
        margin-bottom: 4.9rem;
    }

    .footer {
        bottom: 2.3rem;
    }
}

@media (max-width: 22.25em) {
    .hero__title {
        font-size: 3rem;
    }

    .hero__pre-order {
        justify-content: space-between;
    }

    .hero__release {
        margin-left: 0;
    }

    .hero__kbd-title {
        font-size: 3rem;
    }
}

@media (max-width: 21.3125em) {
    .hero__pre-order {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero__release {
        margin-left: 0;
        margin-top: 1.1rem;
    }
}

@media (max-width: 16.5625em) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__button {
        margin-top: 2rem;
    }
}